#toolbar {left: 10px; height: 35px; width: 18.5em;  min-width: 320px;}
#tools {height: 29px; border: solid #999 1px;}
#toolbarBackground {height: 33px;}
#toolbarToggler {left: 18px; top: 38px;}

#toolQuery         { visibility: hidden; width: 0px; }
#toolPan           { visibility: hidden; width: 0px; }
#toolZoomRubber    { visibility: hidden; width: 0px; }
#toolZoomIn        { margin-left: -1px }
#toolZoomOut       { margin-left: -5px }
#sarmode           { width: 4px; }