

div.view {
  display: none;
  padding: 0 6px;
}
div.POPUPMENU {
  font-size: 140%;
  line-height: 1.4em;
}    

div.POPUPMENU > div { 
  border-bottom: dotted 1px #777;
}
div.ITEM_sep {
  border-bottom: solid 1px #444 !important;
}

div.ITEM_last {border-bottom: none !important}

tr:hover {background: none}
td {
  line-height: 1.3em;
}


.maximizeDiv {width: 25px  !important}
.maximizeDiv img {width: 25px}
.minimizeDiv img {width: 25px}
.minimizeDiv {width: 25px  !important}

input.olButton {margin-top: 2px}
label.olButton {line-height: 2.3em }

input[type=checkbox],
input[type=radio] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-shadow: 1px 1px 1px #fff;
  -moz-box-shadow: 1px 1px 1px #fff;
  
  border: 1px solid #555;
  padding: 0.5em;
  width: 80%;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
  display: inline-block;
  font-size: 15px;
  margin: 0 0.25em 0 0;
  width: 1.25em;
  height: 1.25em;
  -webkit-border-radius: 0.25em;
  vertical-align: text-top;
}

input[type=radio] {
  -webkit-border-radius: 2em; /* Make radios round */
}

input[type=checkbox]:checked {
  background: url("../images/ok.png") no-repeat center center;
  -webkit-background-size: 20px 20px; /* shrink high resolution background */
}
input[type=radio]:checked {
  background: url("../images/gpoint.gif") no-repeat center center;
  -webkit-background-size: 28px 28px; /* shrink high resolution background */
}

#tools * {
cursor: pointer;
margin-right:3px
}

#toolRuler     { width: 29px; height: 24px; } 
#toolQuery     { visibility: hidden; width: 0px; }
#toolPan       { width: 28px; height: 28px; }
#toolZoomIn    { width: 28px; height: 28px; }
#toolZoomOut   { width: 28px; height: 28px; }
#toolZoomRubber{ width: 28px; height: 28px; }
#toolZoomFull  { width: 28px; height: 28px; }
#toolRuler     { width: 29px; height: 24px; } 

#toolbar { left: 10px; height: 39px; width: 16.5em;  min-width: 299px; }
#tools { height: 33px; border: solid #999 1px; }
#toolbarBackground { height: 39px;}
#toolbarToggler { left: 18px; top: 45px;}

#speedDisplay {font-size: 22px; font-weight: bold; vertical-align: middle;}
#speedDisplay span.speed {font-size: 26px}
#gpsheadd {float: left; margin-left: 20px; margin-right: 10px; }
canvas.direction img, canvas.direction {height: 30px; width: 30px }


@media screen and (min-device-width: 1100px) and (min-resolution: 110dpi),
screen and (min-device-width: 1100px) and (-webkit-max-device-pixel-ratio: 2.0), 
screen and (min-device-height: 1100px) and (min-resolution: 110dpi),
screen and (min-device-height: 1100px) and (-webkit-max-device-pixel-ratio: 2.0) 
{
  #toolPan       { width: 34px; height: 34px; }
  #toolZoomIn    { width: 34px; height: 34px; }
  #toolZoomOut   { width: 34px; height: 34px; }
  #toolZoomRubber{ width: 34px; height: 34px; }
  #areaSelect    { width: 36px; height: 36px; }
  #filterMenu    { width: 36px; height: 36px; }
  #filterChoice  { font-size: 100% }
  
  #toolbar { height: 45px; min-width: 352px;}
  #tools { height: 39px; }
  #toolbarBackground {height: 45px; }
  #toolbarToggler { top: 50px; }
  #refToggler {width: 20px; height: 16px}
  div.POPUP {font-size: 100% }
  div.layersDiv {font-size: 120% }
  div.POPUPMENU { line-height: 1.7em; }
  
  input[type=checkbox],
  input[type=radio] {
    font-size: 16px;
    width: 1.4em;
    height: 1.4em;
  }
  .olControlLayerSwitcher img { top: 4px}
  #reference {
  width: 270px; height: 120px;
  }
  
  #geoPosition {
  width: 268px;
  height: 44px; 
  font-size: 15px;
  }
  #scale { font-size: 13px; }
  .sbNumbersBox {font-size: 0.76em }
  .sbLabelBox {font-size: 0.9em }
  
  #speedDisplay {font-size: 24px; font-weight: bold}
  #speedDisplay span.speed {font-size: 28px}
}


@media screen and (min-device-width: 1100px) and (min-width: 1000px),
screen and (min-device-height: 1100px) and (min-height: 1000px)
{
  #toolPan       { width: 44px; height: 44px; }
  #toolZoomIn    { width: 44px; height: 44px; }
  #toolZoomOut   { width: 44px; height: 44px; }
  #toolZoomRubber{ width: 44px; height: 44px; }
  #areaSelect    { width: 47px; height: 47px; margin-left: 20px !important }
  #filterMenu    { width: 47px; height: 47px; } 
  #filterChoice  { font-size: 110% !important }
  
  #toolbar { height: 58px; min-width: 500px; }
  #tools { height: 51px; }
  #toolbarBackground {height: 57px;}
  #toolbarToggler { top: 65px; }
  #refToggler {width: 26px; height: 21px}
  div.POPUP {font-size: 130%; }
  div.layersDiv {font-size: 156% }
  div.olControlLayerSwitcher, .layersDiv {width: 25em !important}
  div.POPUPMENU { line-height: 1.75em; font-size: 180%;}
  
  div.icon img {height: 28px; width: 28px}
  div.gpsposition img {height: 78px; width: 78px }
  canvas.direction img, canvas.direction {height: 39px; width: 39px }
  
  div.lstill, div.lobject, div.lmoving {left: 30px}
  
  input[type=checkbox],
  input[type=radio] {
    font-size: 19px;
    line-height: 1em;
    width: 1.62em;
    height: 1.62em;
  }
  .olControlLayerSwitcher img {width: 140%; right: 8px; top: 2px}
  
  input[type=checkbox]:checked {
    -webkit-background-size: 25px 25px; /* shrink high resolution background */
  }
  input[type=radio]:checked {
    -webkit-background-size: 36px 36px; /* shrink high resolution background */
  }
  
  #reference {
  width: 351px; height: 156px;
  }
  
  #geoPosition {
  width: 348px;
  height: 57px; 
  font-size: 19px;
  }
  #scale { 
  height: 19px; 
  font-size: 17px; 
  width: 351px;
  margin-top: 59px;
  }
  .sbNumbersBox {top: -22px; font-size: 0.98em }
  .sbLabelBox {font-size: 1.2em }
  
  #scaleReference {
  height: 91px;
  }
  #speedDisplay {font-size: 31px}
  #speedDisplay span.speed {font-size: 36px}
  #gpsheadd { margin-left: 26px; margin-right: 13px; }
  
  
  #refToggler, #toolbarToggler {
  width: 26px; 
  height: 21px; 
  background-size: 20px 20px; 
  }
}



@media screen and (max-device-width: 500px),
screen and (max-device-width: 20em) 
{
  form.mapref { width: 99% }
  .mapref span.sleftlab {float: none}
  div.POPUP img {max-width: 310px}
}
@media screen and (max-device-height: 500px)
{
  div.POPUP img {max-height: 290px}
  div.POPUP h1 {margin: 0em}}
  }
  