
div.view {
    display: none;
    padding: 0 6px;
}
div.POPUPMENU {
    font-size: 140%;
    line-height: 1.4em;
}    

div.POPUPMENU > div { 
  border-bottom: dotted 1px #777;
}
div.ITEM_sep {
  border-bottom: solid 1px #444 !important;
}

div.ITEM_last {border-bottom: none !important}

tr:hover {background: none}
td {
  line-height: 1.3em;
}




#tools * {
  cursor: pointer;
  margin-right:3px
}

#toolRuler     { width: 29px; height: 24px; } 
#toolQuery     { visibility: hidden; width: 0px; }
#toolPan       { width: 28px; height: 28px; }
#toolZoomIn    { width: 28px; height: 28px; }
#toolZoomOut   { width: 28px; height: 28px; }
#toolZoomRubber{ width: 28px; height: 28px; }
#toolZoomFull  { width: 28px; height: 28px; }
#toolRuler     { width: 29px; height: 24px; } 

#toolbar { left: 10px; height: 39px; width: 16.5em;  min-width: 299px; }
#tools { height: 33px; border: solid #999 1px; }
#toolbarBackground { height: 39px;}
#toolbarToggler { left: 18px; top: 45px;}

#speedDisplay {font-size: 22px; font-weight: bold; vertical-align: middle;}
#speedDisplay span.speed {font-size: 26px}
#gpsheadd {float: left; margin-left: 20px; margin-right: 10px; }

@media screen and (min-device-width: 1200px) and (min-resolution: 120dpi),
screen and (min-device-width: 1200px) and (-webkit-device-pixel-ratio: 1.0), 
screen and (min-device-width: 1200px) and (-webkit-device-pixel-ratio: 1.5),
screen and (min-device-height: 1200px) and (min-resolution: 120dpi),
screen and (min-device-height: 1200px) and (-webkit-device-pixel-ratio: 1.0), 
screen and (min-device-height: 1200px) and (-webkit-device-pixel-ratio: 1.5) 
{
  #toolPan       { width: 34px; height: 34px; }
  #toolZoomIn    { width: 34px; height: 34px; }
  #toolZoomOut   { width: 34px; height: 34px; }
  #toolZoomRubber{ width: 34px; height: 34px; }
  #toolZoomFull  { width: 34px; height: 34px; }  
  #toolRuler     { width: 35px; height: 30px; } 
  #filters       { font-size: 90%; vertical-align: middle }
  
  #toolbar { height: 45px; min-width: 352px;}
  #tools { height: 39px; }
  #toolbarBackground {height: 45px;}
  #toolbarToggler { top: 50px; }
  #refToggler {width: 20px; height: 16px}
  div.POPUP {font-size: 100% }
  div.layersDiv {font-size: 120% }
  div.POPUPMENU { line-height: 1.6em; }
  
  #reference {
    width: 270px; height: 120px;
  }
  
  #geoPosition {
    width: 268px;
    height: 44px; 
    font-size: 15px;
  }
  #scale { font-size: 13px; }
  .sbNumbersBox {font-size: 0.76em }
  .sbLabelBox {font-size: 0.9em }
  
  #speedDisplay {font-size: 24px; font-weight: bold}
  #speedDisplay span.speed {font-size: 28px}
}





@media screen and (max-device-width: 500px),
       screen and (max-device-width: 20em) 
{
  form.mapref { width: 99% }
  .mapref span.sleftlab {float: none}
  div.POPUP img {max-width: 310px}
}
@media screen and (max-device-height: 500px)
{
   div.POPUP img {max-height: 290px}
   div.POPUP h1 {margin: 0em}}
}
