div.trblock, label {display: block; overflow: hidden; 
margin-bottom: 0.07em; max-width: 45em; vertical-align: top}

div.trblock {margin-bottom: 0.2em}
div#traffic, div#wpsresult {margin-top: 0.4em}
div#wpsresult { background: #ddc; margin-top: 0.3em; margin-bottom: 0.3em}


div#wxresult{max-width: 30em; min-width: 20em; margin-bottom: 0.5em}
#wxresult h4 {background: #ccc; margin-bottom: 0.5em; margin-top: 0.9em}


#measureSeg, #measureTot { 
width: 6em; 
background-color:transparent; 
border: none; 
overflow: hidden; 
margin-bottom: 0.1em
}

.sarurl {color: #900; font-family: monospace}
a.sarurl {font-size: 100%;}


div.POPUP, div.POPUPMENU, #measureResult 
{
  font-family: Helvetica, sans-serif; 
  font-size: 95%;
  border: 1px solid #777;
  -moz-box-shadow: 3px 3px 5px #242;
  -webkit-box-shadow: 3px 3px 5px #242;
  box-shadow: 3px 3px 5px #242;
}
div.POPUP input {font-size: 100%}

div.POPUP, #measureResult {
  line-height: 1.2em;
  background: #f0f5ec;
  z-index: 1301 !important; 
  padding: 0.3em !important;
  min-width: 15em;
}

form.mapref { min-width: 27em }


#measureResult {
min-width: 10em;
}

#infopopup {
min-width: 23em;
}


div.POPUPMENU {
  padding-bottom: 0.3em;
  margin-bottom: 0.7em;
  line-height: 1.2em;
  background: #fefeee; 
  z-index: 1301 !important;
}

.leftlab, .sleftlab, label.lleftlab {
  float: left;
  width: 8.5em;
  text-align: right;
  padding-right: 7px;
  color: gray;
}

.sleftlab, label.lleftlab {
  width: 5.5em;
} 

form>.sleftlab {padding-top: 5px;}


div.POPUP img { max-width: 500px; }
div.POPUP #cancel {visibility: hidden; width: 0; height: 0; margin: 0; padding: 0}

div.POPUPMENU > div > div
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80%;
  padding-left: 0.6em;
  padding-right: 0.5em; 
}

div.ITEM_sep {
  padding-bottom: 2px;
  margin-bottom: 2px;
  border-bottom: solid 1px #555;
}

div.ITEM_hover, .link_id:hover
{
  background:#944;
  color: white;
}

div.ITEM_selected
{
  background: yellow;
  color: #400;
}

th, td {font-size: 90%;}

th { 
  text-align: left;  
  background: #fb9; 
  border: #d86 1px solid; 
  padding: 0 0 0 0.5em
}


a {text-decoration: none}

table {border-collapse: collapse}
td {
  padding-left: 0.5em; 
  padding-right: 0.5em;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  line-height: 1em;
  border: 1px #d86 dotted
}

tr {height: 12px;}

tr:hover {background: #ff8}


h1.popupimg {
  font-size: 110%; 
  margin-bottom: 5px; 
  padding-top:0.6em; 
  padding-bottom: 0.3em
}


h1, #layerSwitcher h2 { font-family: arial, helvetica, sans-serif; 
  font-size: 1.2em; 
  margin-bottom: 0.5em; 
  background: #cfd5cc;
  padding: 0.8em  0.8em 0.5em 0.5em;
  border-bottom: dotted 1px #777;
  margin: -4px;
  margin-bottom: 0.8em;
}

#layerSwitcher h2{ padding: 0.2em 0.8em 0.2em 0.5em; margin-bottom: 0.4em;}

#layerSwitcher {line-height: 1.6em}
#layerSwitcher h2:last-of-type {margin-top: 0.2em}
#layerSwitcher form {margin-left: 0.4em}


span.kartref {
  padding: 0px 0px 0px 0px;
  color: #880000;
}


div#tags { 
  columns: 3; 
  column-width: 1em; 
  -moz-columns: 3; 
  -moz-column-width: 1em; 
  -webkit-columns: 3; 
  -webkit-column-width: 1em; 
  border:1px dotted #555; 
  background: #ddc; 
  width: 32em; 
  padding: 3px
}
input#search {margin-top: 0.7em; width: 18em}


span.kartref:hover {
  font-weight: bold; 
  border: solid 2px #eeaaaa;
}

input {padding: 2px; margin: 2px}
input#butt_ll { margin-right: 7em}
button {background: #cdc; font-size: smaller; margin-left: 5px;}


div#bintlm div {display: inline; border: 1px solid #444; padding: 0 4px 0 4px; border-radius: 5px; margin-right: 5px; background: #ddd}
div#bintlm .on {color: #300; font-weight: bold; border: 1px solid #500; background: #dfd}
div#bintlm {margin: 1em 1em 0.7em 2em}
span.dunit {margin-left: 0.6em; color: #527; font-size:smaller; font-style: italic}
button#listbutton {margin-left: 2em}
