Package: polaric-webapp
Version: 1.0.4+
Architecture: all
Maintainer: Øyvind hanssen <ohanssen@acm.org>
Installed-Size: 1676
Depends: apache2, php5, php5-gd, php5-mapscript, polaric-aprsd
Section: hamradio
Priority: optional
Homepage: http://hans.priv.no/la7eca
Description: Polaric Server: Web application.
 The "Polaric Server" is mainly a web based service to present APRS
 tracking information on maps and where the information is updated at real-
 time. It is originally targeted for use by radio amateurs in voluntary search
 and rescue service in Norway. It consists of a web application and a server
 program (APRS daemon).
 .
 The web application lets the user browse maps. It can present live APRS
 infomation (from the aprsd backend) on top of the map. Users can update
 information, add objects, etc.. The application comes with its own server
 side map server (based on KaMap/Mapserver) that can render and/or cache maps.
 Web clients can also be set up to use external map sources directly.
